
.page-calce {
    width: 400px;
    height: 500px;

    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    
    
    
}
.calce {

    width: 300px;
    min-height: 250px;
    padding: 10px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.calce__hours-sum {
    min-width: 50px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.button {

    margin: 0 auto;
    width: 50px;
    height: 20px;
    background-color: aquamarine;
}
.calce__input {
    margin: 10px 0;
    width: 180px;

    display: flex;

};
